.input-container {
    display: flex;
}

.todo-input {
   width: 100%;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-left: 8px;
   padding-right: 8px;
   border-radius: 2px;
   border: 2px solid orange;
   outline: orange;
   font-size: 1.2rem;
   color: #fefefe;
   background: #333;
}

.todo-input::placeholder {
    color: #b1afaf
}

.input-container button img {
   height: auto;
   width: 22px;
   margin: 0 auto;
}

.input-container button {
    cursor: pointer;
    border: 2px solid orange;
    width: 50px;
    background: #333;
    border-radius: 2px;
    margin-left: 7px;
}

.input-container button:active {
    transform: scale(.9)
}